In [45]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\91626\anaconda3\lib\site-packages (2.15.0)
Requirement already satisfied: tensorflow-intel==2.15.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow) (2.15.0)
Requirement already satisfied: setuptools in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (63.4.1)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.14.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.6.3)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.3.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.26.4)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.5.4)
Requirement already satisfied: h5py>=2.9.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.7.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.25.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.60.1)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.3.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (23.5.26)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.4.0)
Requirement already satisfied: six>=1.12.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.16.0)
Requirement already satisfied: packaging in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (21.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.31.0)
Requirement already satisfied: tensorboard<2.16,>=2.15 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.2)
Requirement already satisfied: ml-dtypes~=0.2.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (16.0.6)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\91626\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.15.0->tensorflow) (0.37.1)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in c:\users\91626\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.2.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.7.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\91626\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.28.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\91626\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.3.4)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\91626\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.0.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\91626\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\91626\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.15.0->tensorflow) (3.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\91626\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\91626\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\91626\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (5.3.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\91626\anaconda3\lib\site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\91626\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91626\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\91626\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91626\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2022.9.14)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\91626\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\91626\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.2.2)

In [46]:
import tensorflow as tf

In [47]:
pip install numpy

Requirement already satisfied: numpy in c:\users\91626\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [48]:
print(tf.__version__)

2.15.0

In [49]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [50]:
dataset=pd.read_csv("Churn_Modelling.csv")

In [51]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [52]:
X=dataset.iloc[:,3:13]
Y=dataset.iloc[:,13]

In [53]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [54]:
Y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [55]:
##feature engineering
geography=pd.get_dummies(X['Geography'],drop_first=True)

In [56]:
gender=pd.get_dummies(X["Gender"],drop_first=True)

In [57]:
##concat the variables above
##drop the existing columns
## axis=1 is used because we want to drop the column not the rows
X=X.drop(['Geography','Gender'],axis=1)

In [59]:
X=pd.concat([X,geography,gender],axis=1)

In [60]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [62]:
## training testing split
from sklearn.model_selection import train_test_split

In [63]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)